<header class="site-header">
    <div class="header-container">
        <!-- 【サイト名を編集：ここを自分のサイト名に変更してください】 -->
        <a href="{{ '/' | relative_url }}" class="site-logo">長谷川Studio</a>
        <nav class="site-nav">
            <ul>
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/works.html' | relative_url }}">Works</a></li>
                <li><a href="{{ '/blog.html' | relative_url }}">Blog</a></li>
                <li><a href="{{ '/community.html' | relative_url }}">Community</a></li>
                <li><a href="{{ '/promotion.html' | relative_url }}">Promotion</a></li>
                <li><a href="{{ '/about.html' | relative_url }}">About</a></li>
            </ul>
        </nav>
    </div>
</header>
